a:hover {
  text-decoration: none; }

section {
  padding: 70px 0; }

h2.section-title {
  font-weight: 300;
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  color: #333333;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-bottom: 30px; }

h6.section-title-red {
  font-weight: 400;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #eb1d50;
  font-size: 14px;
  line-height: 2.5;
  letter-spacing: 0px;
  margin-bottom: 5px; }

h3.section-title-secondary {
  font-weight: 400;
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0px; }

p.section-info {
  font-weight: 400;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #828282;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0px; }

h5.section-info-secondary {
  color: #181818;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; }

button.red-button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 30px;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 18px 36px;
  text-align: center;
  border: 0;
  background-color: #eb1d50;
  color: #FFFFFF; }
  button.red-button:hover {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: #4baef8;
    color: #FFFFFF;
    text-decoration: none; }

button.transparent-button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
  height: 50px;
  width: 140px;
  text-align: center;
  border: 2px solid #e03131;
  background-color: transparent;
  color: #e03131; }
  button.transparent-button:hover {
    color: #FFFFFF;
    background-color: #e03131;
    text-decoration: none;
    border: 0; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  -webkit-transition: all 1s linear;
  transition: all 1s linear; }
  body.animated {
    opacity: 1; }

main {
  position: relative; }

nav {
  z-index: 1001; }
  nav.navbar {
    height: 80px;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding-left: 0;
    padding-right: 0; }
    nav.navbar .navbar-toggler .toggle {
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 10; }
      nav.navbar .navbar-toggler .toggle .bar {
        position: relative;
        width: 22px;
        height: 2px;
        background: #eb1d50; }
        nav.navbar .navbar-toggler .toggle .bar:before, nav.navbar .navbar-toggler .toggle .bar:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: inherit;
          left: 0;
          -webkit-transform-origin: center center;
                  transform-origin: center center;
          -webkit-transition: top .25s ease, bottom .25s ease, -webkit-transform .25s ease;
          transition: top .25s ease, bottom .25s ease, -webkit-transform .25s ease;
          transition: transform .25s ease, top .25s ease, bottom .25s ease;
          transition: transform .25s ease, top .25s ease, bottom .25s ease, -webkit-transform .25s ease; }
        nav.navbar .navbar-toggler .toggle .bar:before {
          top: -8px; }
        nav.navbar .navbar-toggler .toggle .bar:after {
          bottom: -8px; }
      nav.navbar .navbar-toggler .toggle.clicked .bar {
        background: transparent; }
        nav.navbar .navbar-toggler .toggle.clicked .bar:before, nav.navbar .navbar-toggler .toggle.clicked .bar:after {
          background: #000; }
        nav.navbar .navbar-toggler .toggle.clicked .bar:before {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          top: 0;
          background: #eb1d50; }
        nav.navbar .navbar-toggler .toggle.clicked .bar:after {
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          bottom: 0;
          background: #eb1d50; }
    nav.navbar.sticky {
      position: fixed;
      height: 70px;
      top: 0;
      left: 0;
      right: 0;
      background-color: #FFFFFF;
      -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      z-index: 1001; }
      nav.navbar.sticky a.navbar-brand {
        height: 30px; }
      nav.navbar.sticky .navbar-collapse ul li a.nav-link {
        font-size: 13px; }
    nav.navbar a.navbar-brand {
      margin: 0;
      padding: 0;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      nav.navbar a.navbar-brand img {
        height: 40px;
        margin-right: 20px; }
      nav.navbar a.navbar-brand h3 {
        font-weight: 400;
        font-style: normal;
        font-family: 'Poppins', sans-serif;
        color: #1b163b;
        text-decoration: none;
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0px;
        margin-bottom: 0; }
      nav.navbar a.navbar-brand p.section-info {
        margin-bottom: 0; }
    nav.navbar .navbar-collapse {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      nav.navbar .navbar-collapse ul li + li {
        margin-left: 10px; }
      nav.navbar .navbar-collapse ul li.active a.nav-link {
        color: #000000; }
      nav.navbar .navbar-collapse ul li a.nav-link {
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        color: #000000;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        nav.navbar .navbar-collapse ul li a.nav-link.active {
          color: #C0B283; }
        nav.navbar .navbar-collapse ul li a.nav-link:hover {
          color: #eb1d50; }
      nav.navbar .navbar-collapse.collapsing, nav.navbar .navbar-collapse.show {
        background-color: white; }
        nav.navbar .navbar-collapse.collapsing ul li, nav.navbar .navbar-collapse.show ul li {
          padding: 7px 0;
          margin: 0;
          text-align: center; }
          nav.navbar .navbar-collapse.collapsing ul li a.nav-link, nav.navbar .navbar-collapse.show ul li a.nav-link {
            color: #000;
            text-transform: uppercase;
            font-size: 14px; }
            nav.navbar .navbar-collapse.collapsing ul li a.nav-link.page-link, nav.navbar .navbar-collapse.show ul li a.nav-link.page-link {
              max-width: 120px;
              margin: 0 auto; }

.box {
  width: 300px;
  height: 200px;
  background: #dedede;
  -webkit-transition-property: -webkit-box-shadow,-webkit-transform;
  transition-property: -webkit-box-shadow,-webkit-transform;
  transition-property: box-shadow,transform;
  transition-property: box-shadow,transform,-webkit-box-shadow,-webkit-transform;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);
          transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); }
  .box:hover {
    -webkit-box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2); }

header.contact-line {
  padding: 15px 0; }
  header.contact-line address {
    margin: 0; }
    header.contact-line address i {
      color: #2cc895;
      font-size: 25px;
      margin: 0 5px; }
    header.contact-line address p {
      font-size: 14px; }
      header.contact-line address p a {
        color: inherit;
        margin: 0 5px; }
        header.contact-line address p a:hover {
          color: #eb1d50; }
  header.contact-line .social-group ul {
    margin: 0; }
    header.contact-line .social-group ul li {
      width: 20px;
      height: 20px; }
      header.contact-line .social-group ul li a:hover {
        font-weight: bold; }
      header.contact-line .social-group ul li a i {
        font-size: 18px;
        color: #333333; }
        header.contact-line .social-group ul li a i:hover {
          font-weight: bold;
          color: #2CC895; }

section.hero {
  padding: 150px 0;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  section.hero h1 {
    font-weight: 400;
    font-style: normal;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 0px;
    max-width: 60%; }
  section.hero h3.section-title-secondary {
    margin-bottom: 30px; }

section.services-line {
  background-color: #2c2461; }
  section.services-line img {
    margin-bottom: 20px; }
  section.services-line h3.section-title-secondary {
    margin-bottom: 20px; }

section.choose-your-course img {
  width: 100%; }

section.choose-your-course h3.section-title-secondary {
  color: #000000;
  margin-top: 30px;
  font-size: 22px; }

section.learning-practice {
  padding: 100px 0;
  background-image: url(../img/learning-practice-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  section.learning-practice button.red-button {
    margin-top: 30px; }

section.speak-for-us {
  background-image: url(../img/speak-for-us-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }
  section.speak-for-us h2.section-title {
    color: #FFFFFF; }
  section.speak-for-us .text h2.section-title {
    font-size: 50px;
    margin-bottom: 10px; }

section.our-professional-team {
  text-align: center; }
  section.our-professional-team img {
    border-radius: 50%;
    margin-bottom: 30px; }
  section.our-professional-team h3.section-title-secondary {
    color: #000000;
    margin-bottom: 20px; }
  section.our-professional-team h6.section-title-red {
    margin-bottom: 10px; }
  section.our-professional-team p.section-info {
    margin-bottom: 20px; }
  section.our-professional-team ul li + li {
    margin-left: 15px; }
  section.our-professional-team ul li a:hover i {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    color: #000000; }
  section.our-professional-team ul li a i {
    color: #eb1d50; }

section.history-line {
  background-color: #f4f4f4; }
  section.history-line h2.section-title {
    margin-bottom: 30px; }
  section.history-line h3.section-title-secondary {
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px; }

section.free-language-test {
  background-image: url(../img/free-language-test-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }
  section.free-language-test h2.section-title {
    color: #FFFFFF;
    margin-bottom: 20px; }
  section.free-language-test p.section-info {
    color: #FFFFFF;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 30px; }

section.pricing-table {
  text-align: center; }
  section.pricing-table .pricing-header {
    background-color: #2c2461;
    padding: 30px 0; }
    section.pricing-table .pricing-header h3.section-title-secondary {
      font-weight: 200; }
    section.pricing-table .pricing-header h2.section-title {
      color: #FFFFFF;
      margin-bottom: 10px;
      font-size: 40px; }
    section.pricing-table .pricing-header h6.section-title-red {
      margin-bottom: 0; }
  section.pricing-table .pricing-body {
    border: 1px solid #f4f4f4;
    padding: 20px 0; }
    section.pricing-table .pricing-body ul {
      margin-bottom: 25px; }
    section.pricing-table .pricing-body:hover {
      border-color: #000000;
      -webkit-transition: 0.6s ease;
      transition: 0.6s ease; }

section.testimonials {
  text-align: center;
  background-color: #f4f4f4;
  padding-bottom: 0; }
  section.testimonials .owl-theme .owl-dots {
    display: none; }
  section.testimonials .owl-theme .owl-nav {
    position: relative;
    top: -200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  section.testimonials .owl-carousel .owl-nav button.owl-prev, section.testimonials .owl-carousel .owl-nav button.owl-next, section.testimonials .owl-carousel button.owl-dot {
    font-size: 40px; }
    section.testimonials .owl-carousel .owl-nav button.owl-prev:hover, section.testimonials .owl-carousel .owl-nav button.owl-next:hover, section.testimonials .owl-carousel button.owl-dot:hover {
      background-color: transparent;
      color: #eb1d50;
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease; }
    section.testimonials .owl-carousel .owl-nav button.owl-prev:focus, section.testimonials .owl-carousel .owl-nav button.owl-next:focus, section.testimonials .owl-carousel button.owl-dot:focus {
      outline: none; }
  section.testimonials .owl-carousel {
    max-width: 60%;
    margin: 0 auto; }
    section.testimonials .owl-carousel .item i {
      font-size: 50px;
      color: #eb1d50;
      margin-bottom: 30px; }
    section.testimonials .owl-carousel .item p.section-info {
      font-size: 20px;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 80%; }
    section.testimonials .owl-carousel .item h3.section-title-secondary {
      color: #000000; }

section.resources-center {
  background-image: url(../img/resources-center-bg.jpg);
  background-attachment: fixed; }

footer {
  background-color: #1a1a1a;
  padding: 80px 0 30px 0; }
  footer a.navbar-brand {
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
    footer a.navbar-brand img {
      height: 40px;
      margin-right: 20px; }
    footer a.navbar-brand h3 {
      font-weight: 400;
      font-style: normal;
      font-family: 'Poppins', sans-serif;
      color: #FFFFFF;
      text-decoration: none;
      font-weight: 400;
      font-size: 24px;
      line-height: 1;
      letter-spacing: 0px;
      margin-bottom: 0; }
    footer a.navbar-brand p.section-info {
      margin-bottom: 0; }
  footer h3.section-title-secondary {
    color: #FFFFFF;
    margin-bottom: 20px; }
  footer .footer-line {
    height: 3px;
    width: 50px;
    background-color: #eb1d50;
    margin-bottom: 30px; }
  footer a:hover p.section-info {
    color: #eb1d50;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease; }
  footer address ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer address ul li + li {
      margin-top: 15px; }
    footer address ul li i {
      color: #eb1d50;
      font-size: 25px;
      margin-right: 15px; }
    footer address ul li p.section-info {
      margin-bottom: 0; }
      footer address ul li p.section-info a {
        color: inherit; }
        footer address ul li p.section-info a:hover {
          color: #eb1d50;
          -webkit-transition: 0.4s ease;
          transition: 0.4s ease; }

section.contact-body {
  background-color: #fafafa; }
  section.contact-body form input {
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    background-color: #fafafa;
    height: 50px;
    margin-bottom: 25px; }
  section.contact-body form textarea {
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    background-color: #fafafa;
    height: 100px; }
  section.contact-body form button {
    border: 2px solid #eb1d50;
    color: #eb1d50;
    background-color: transparent;
    margin-top: 20px; }
    section.contact-body form button:hover {
      background-color: #eb1d50;
      color: #FFFFFF; }
  section.contact-body h3.section-title-secondary {
    color: #000000; }
  section.contact-body address {
    margin-top: 30px; }
    section.contact-body address ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      section.contact-body address ul li + li {
        margin-top: 15px; }
      section.contact-body address ul li i {
        color: #eb1d50;
        font-size: 25px;
        margin-right: 15px; }
      section.contact-body address ul li p.section-info {
        margin-bottom: 0; }
        section.contact-body address ul li p.section-info a {
          color: inherit; }
          section.contact-body address ul li p.section-info a:hover {
            color: #eb1d50;
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease; }
  section.contact-body ul.social-group {
    margin-top: 20px; }
    section.contact-body ul.social-group li a {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #000000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      section.contact-body ul.social-group li a i {
        font-size: 15px;
        color: #FFFFFF; }
      section.contact-body ul.social-group li a:hover {
        background-color: #eb1d50;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease; }

@media (max-width: 575px) {
  section.hero {
    padding: 80px 0;
    background-position: 52% 96%; }
  section.hero h1 {
    font-size: 60px;
    max-width: 100%;
    margin-bottom: 30px; }
  section.learning-practice p.section-info {
    color: #000000; }
  section.testimonials .owl-carousel {
    max-width: 80%; }
  section.testimonials .owl-carousel .item p.section-info {
    max-width: 100%; }
  section.testimonials .owl-theme .owl-nav {
    display: none; }
  section.contact-body form {
    margin-top: 50px; }
  footer h3.section-title-secondary {
    margin-top: 30px; } }

@media (max-width: 991px) {
  nav.sticky a.navbar-brand {
    width: 180px; } }
